#highlights {
  & #main-new {
    & .content-tag {
      margin-left: 1rem;
    }
  
    & h2 {
      font-size: var(--fs-lg);
      padding-inline: 1rem;
      margin-block: .5rem 1rem;
    }

  }

  & #secondary-news {
      display: grid;
      gap: 1rem;

    & .content-tag {
      margin-left: 0.75rem;
    }
  
    & h2 {
      margin: .5rem .75rem .75rem .75rem;
      /* padding-block: .5rem .75rem; */
    }
  }



}

@media (width >= 80em) {
  #highlights {

    & #main-new {
      & .content-tag {
        margin-left: 1.5rem;
      }

      & h2 {
        padding-inline: 1.5rem;
        margin-block: .5rem 1.5rem;
      }
    }

    & #secondary-news {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      & img {
        display: block;
      }
    }
  }

}