#ia {
  & .divisor {
    margin-block: 2rem .75rem;
  }

  & header {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;

    & a {
      display: grid;
      grid-auto-flow: column;
      background-image: url(../assets/ArrowRight.svg);
      background-repeat: no-repeat;
      background-position: right;
      
      & strong {
        font-size: var(--fs-sm);
        color: var(--text-color-secondary);
        margin-right: 1.25rem;
      }
    }
    
    & a:hover{
      background-image: url(../assets/ArrowRight-hover.svg);
      & strong {
        color: var(--brand-color-light);
      }
    }
  }

  & #right-side {
    & article {
      display: flex;
      gap: 1rem;
      margin-bottom: 2rem;
    }
    
    & img {
      max-width: 5rem;
    }

    & h2 {
      margin-block: .5rem .25rem;
    }

  }

  & #left-side {
    & #ad {
      & img {
        border-radius: .25rem;
      }
    }

    & #see-that {
      & article {
        display: flex;
        gap: 1rem;
      }
  
      & img {
        max-width: 4.5rem;
      }
  
      & h2 {
        margin-block: .5rem 2rem;
      }
    }
  }
}

@media (width >= 80em) {
  #ia {
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;

    & .divisor {
      margin-block: 0 .75rem;
    }

    & #right-side {
      max-width: 43.5rem;

      & article {
        flex-direction: row-reverse;
        justify-content: center;
        /* margin-bottom: 1.5rem; */

        & img {
          max-width: 11rem;
        }
      }
    }

    & #left-side {
      & #ad{
        margin-bottom: 2rem;
      }
    }
  }
}
