.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap-1 {
  gap: 1rem;
}

.desktop-only {
  display: none;
}

.items-center {
  align-items: center;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.divisor {
  border: 1px solid var(--stroke-color);
}

.container {
  --max-width: 360px;
  width: min(var(--max-width), 100% - var(--py-base) * 2);
  margin-inline: auto;
  /* border: solid violet; */
}

.container-img {
  position: relative;
  display: inline-block; /* Faz com que o container se ajuste ao tamanho da imagem */
} 


.text-overlay {
  content: "";
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.degrade-img {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, 
  transparent 0%,
  #020617 100%);
}

.content-tag {
  display: inline-block;
  background-color: var(--brand-color-dark);
  padding: .25rem .5rem;
  border-radius: .25rem;
  font: 500 .625rem/1.2 var(--ff-sans);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--text-color-primary);
  box-shadow: 0rem .5rem 1rem rgb(2, 6, 23, 0.251);
}

.text-two {
  width: 100%;
  display: -webkit-box; /* Necessário para o line-clamp funcionar */
  -webkit-box-orient: vertical; /* Orientação vertical do texto */
  -webkit-line-clamp: 2; /* Limita o texto a 2 linhas */
  overflow: hidden; /* Esconde o conteúdo que ultrapassa o limite */
  text-overflow: ellipsis; /* Adiciona "..." ao final do texto cortado */
}

.text-three {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}


.text-four {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (width >= 80em) {
  .container {
    --max-width: 80em;
  }

  .desktop-only {
    display: initial;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr;
  }
}